#if defined(UNDER_CE)
	#include <winbase.h>
#else
	#include <winver.h>
#endif
IDI_ICON1 ICON DISCARDABLE "TestDataAnalysis.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 4,2,0,0
 PRODUCTVERSION 4,2,0,0
 FILEFLAGSMASK 0x3FL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "guyanqiu@qq.com"
            VALUE "FileDescription", "A Simple DataLog Analysis Program"
            VALUE "FileVersion", "4.2.0.0"
            VALUE "InternalName", "TestDataAnalysis"
            VALUE "LegalCopyright", "Copyright (C) 2015-2019"
            VALUE "OriginalFilename", "TestDataAnalysis.exe"
            VALUE "ProductName", "TestDataAnalysis"
            VALUE "ProductVersion", "4.2.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
